:root {
    --dbC: #31343d;
    --lbC: #92ceee;

}

.fire {
    background-color: var(--dbC);
    display: flex;
    flex-wrap: wrap;
}

.fire h1 {
    background-color: var(--lbC);
    width: 25%;
    
}
.fire a {
    position: relative;
    color: var(--lbC);
    text-decoration: underline;
    font-size: 100%;
    margin-left: 1%;
}

.water {
    background-color: var(--dbC);
    border: 1px solid red;
}
.water h2 {
    background-color: var(--lbC);
    width: 25%;
}
