:root {
    --dbC: #31343d;
    --lbC: #92ceee;

}


.fire {
    background-color: var(--dbC);
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    width: 100%;
}

.fire h1 {
    background-color: var(--lbC);
    width: 25%;
    
}
.fire a {
    position: relative;
    color: var(--lbC);
    text-decoration: underline;
    font-size: 100%;
    margin-left: 1%;
}
.water {
    height: 20%;
    width: 100%;
}
.water h2 {
    background-color: var(--lbC);
    width: 25%;
    z-index: 1;
}
.water img { border-width: 100%;
    height: 200px;
    width: 100%;
}

.rock{ 
    height: 15%;
    width: 100%
}
.wind{ height:35%;
    width: 100%;

}
.wind div{ 
}

.wind div img{
    height: 5px;
    width: 10px;
}
.lightning {
    height: 20%;
    width: 100%;
}